body {
    font-family: Arial, sans-serif;
}

#areaResultado {
    font-size: 1.2rem;
}
/* Centrar el card en la pantalla */
.contenedor-central {
    max-width: 600px;
    margin: 40px auto; /* centra horizontalmente */
}

/* Input y bot칩n m치s compactos */
#numero {
    height: 40px;
    font-size: 0.95rem;
}

/* Resultado m치s peque침o */
#areaResultado {
    font-size: 0.95rem;
}

.alert {
    padding: 15px;
    border-radius: 12px;
}

